.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 35, 0.8);
  z-index: 98;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  height: min-content;
  z-index: 99;
  padding: 24px;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 14px;
  right: 14px;
  z-index: 9;
  cursor: pointer;
}

.close svg {
  fill: #b59571;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
}

.form {
  margin-top: 24px;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 16px;
  padding: 10px 30px;
}

.group {
  text-align: center;
}

.input {
  background: #b6b6b6;
  border: 0;
  border-radius: 8px;
  color: black;
  padding: 12px 24px;
  width: 100%;
}

.input.invalid {
  border-bottom: 3px solid red;
}

.link {
  font-size: 13px;
  color: #b6b6b6;
  cursor: pointer;
  text-align: center;
}