:root {
  --accent-color: #b59571;
  --gray-color: #5b5b5b;
  --dark-color: #333333;
  --white-color: white;
  --menu-back-color: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white-color);
  font-size: 16px;
  color: var(--dark-color);
  line-height: 140%;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  cursor: pointer;
}
/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
} */
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-60 {
  margin-bottom: 60px;
}
.price {
  font-size: 28px;
  font-weight: bold;
}
.small-price {
  font-size: 20px;
  font-weight: bold;
}
.button {
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: bold;
  border: 0;
  cursor: pointer;
}
.button-link {
  padding: 10px 20px;
  border: 1px solid var(--gray-color);
  color: var(--gray-color);
  cursor: pointer;
}
.link {
  color: var(--gray-color);
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}
.link_icon {
  width: 15px;
  height: 15px;
}
.big-title {
  color: #333;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.base-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}
.container {
  display: flex;
  max-width: 1440px;
}

.sidebar {
  background-color: var(--dark-color);
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
  padding: 30px 0;
}

.sidebar a {
  width: 80%;
}

.sidebar__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  width: 100%;
  padding: 30px 0;
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.main-container > *:not(:last-child) {
  margin-bottom: 60px;
}
@media (max-width: 410px) {
  .price {
    font-size: 20px;
    font-weight: bold;
  }
  .base-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }
}
.profile-info {
  display: flex;
  justify-content: space-between;
}
.profile-main {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 30px;
  margin-bottom: 30px;
}
.profile-footer {
  display: flex;
  justify-content: end;
}
@media (max-width: 420px) {
  .profile-main {
    grid-template-columns: 1fr;
  }
  .profile-main li {
    margin-bottom: 0;
    margin: 0 auto 10px;
  }
  .profile-info {
    flex-direction: column;
    gap: 15px;
  }
}
