.menu {
  background-color: var(--menu-back-color);
  height: max-content;
}
.menu li {
  text-align: center;
  cursor: pointer;
}
.menu li a {
  display: inline-block;
  padding: 20px 10px;
}
.menu li:hover,
.menu li.active {
  background-color: var(--accent-color);
}
.menu li:hover a,
.menu li.active a {
  color: var(--white-color);
}